.Home {
	margin-top: 25px;
    .LiveInput {
        
    }
    .SearchResultBox {
        padding: 5px;
        .ResultList {
            padding: 5px;
            list-style: none;
        }
    }
}
